body {
    font-family: fantasy;
}

li {
    list-style: none;
}

.contenedor {
    width: 13vw;
    border: 2px solid orange;
    border-radius: 5px;
    padding: 1rem;
    margin: auto;
}

.empezar {
    display: inline-block;
}

#calculo {
    text-align: center;
}

.juego {
    text-align: center;
    padding: 1rem 0;
}

.cifra,
.operacion,
.respuesta,
.boton-calcular,
.puntos-numero {
    font-size: 2rem;
}

.puntos-numero,
.resultado-number {
    color: green;
}

.resultado-number {
    font-size: 1.8rem;
}

.puntos {
    border-top: 1px solid orange;
    padding-top: 0.4rem;
    text-align: center;
    font-size: 1.2rem;
}

.error {
    color: red;
}

.respuesta {
    width: 3rem;
    height: 2rem;
    vertical-align: bottom;
    font-family: fantasy;
}

.boton-calcular {
    line-height: 2rem;
}

.vidas {
    font-size: 1.2rem;
    margin-top: 0;
    text-align: right;
    border-bottom: 1px solid orange;
    padding-bottom: 20px;
}

.vidas-numero {
    color: red;
    font-size: 20px;
}