li {
    list-style: none;
}

.cifra, .operacion, .respuesta, .boton-calcular {
    font-family: fantasy;
    font-size:30px;
    color: green;
}

.respuesta {
    width: 50px;
    height: 30px;
    vertical-align: bottom;
}

.boton-calcular {
    font-size: 27px;
    line-height: 29px;
}

.corazon {
    color: red;
    font-size: 30px;
}
.corazon-vacio {
    color: red;
    font-size: 30px;
}
